<!--
SPDX-FileCopyrightText: 2019 John Irle

SPDX-License-Identifier: MIT
-->

<!DOCTYPE html>
<html>
   <head>
        <title>Timestamp microservice</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1 class="header">
                Timestamp microservice
            </h1>

            <h3>Example usage:</h3>
            <code>http://localhost:5000/December%2015,%202015</code><br>
            <code>http://localhost:5000/1450137600</code>
            <h3>Example output:</h3>
            <code>
                {
                  "unix": 1450137600,
                  "natural": "December 15, 2015"
                }
            </code>
        </div>
    </body>
</html>
